
<div class="panel panel-default">
    <div class="panel-body">
  
      <form>
        <div class="row">
  
          <div class="col-sm-12 form-group">
            <label for="name">City</label>
            <input
              type="text"
              id="name"
              class="form-control"
              size="120"
              max="120"
              name="name"
              required
              #name>
          </div>
  
          <div class="col-sm-12 form-group">
            <label for="description">Tempurature</label>
            <input
              type="text"
              id="description"
              class="form-control"
              size="120"
              max="255"
              name="description"
              #description>
          </div>
  
          <div class="col-sm-12 form-group">
            <label for="documentUrl">Description</label>
            <input
              type="text"
              id="documentUrl"
              class="form-control"
              size="150"
              max="255"
              name="documentUrl"
              required
              #documentUrl>
          </div>


        </div>
  
        <!-- <div *ngIf="!f.valid" class="alert alert-danger">
          The Document title and URL are required fields
        </div> -->
  
      </form>
  
    </div>
  </div>
