<div class="container cards">
<div class="card card-space" style="width: 18rem;">
  <img class="card-img-top weatherImageSize" src="../../../assets/images/sun.png" alt="Card image cap">
  <span class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </span>
</div>

<div class="card card-space" style="width: 18rem;">
  <img class="card-img-top weatherImageSize" src="../../../assets/images/sun.png" alt="Card image cap">
  <span class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </span>
</div>


<div class="card card-space" style="width: 18rem;">
  <img class="card-img-top weatherImageSize" src="../../../assets/images/sun.png" alt="Card image cap">
  <span class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </span>
</div>
</div>

