<div class="container cards">
<div class="card card-space" style="width: 19rem;">
  <p class="card-text">City Name</p>
  <img class="card-img-top weatherImageSize" src="../../../assets/images/sun.png" alt="Card image cap">
  <span class="card-body">
  <p class="card-text temp">30&deg;</p>
  <p class="card-text weatherType">Sunny</p>
  </span>
  <span class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </span>
</div>

<div class="card card-space" style="width: 19rem;">
  <p class="card-text">City Name</p>
  <img class="card-img-top weatherImageSize" src="../../../assets/images/snow.png" alt="Card image cap">
  <span class="card-body">
  <p class="card-text temp">30&deg;</p>
  <p class="card-text weatherType">Snowing</p>
  </span>
  <span class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </span>
</div>


<div class="card card-space" style="width: 19rem;">
  <p class="card-text">City Name</p>
  <img class="card-img-top weatherImageSize" src="../../../assets/images/storm.png" alt="Card image cap">
  <span class="card-body">
  <p class="card-text temp">30&deg;</p>
  <p class="card-text weatherType">Storming</p>
  </span>
  <span class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </span>
</div>

