<div class="container cards">
  
  <div class="card card-space" style="width: 19rem;">
    <p class="card-text city-name">{{card.city}}</p>
    <img class="card-img-top weatherImageSize" src="../../../assets/images/sun.png" alt="Card image cap">
    <span class="card-body">
      <p class="card-text temp">{{card.temp}}&deg;</p>
    </span>
    <span class="card-body">
      <span style="display: flex; flex-direction: column;">
        <svg class="down-Arrow" viewBox="188.5 807 21 21">
          <path fill="#00ff9b" d="M209.5 817.5h-21L199 828z" data-name="Min Arrow" />
        </svg>
        <p style="font-size: 20px;">{{card.min}}</p>
        <p>Min</p>
      </span>
      <span style="display: flex; flex-direction: column; align-items: flex-end; margin-top: -65px;">
        <svg class="up-Arrow" viewBox="449.5 820 21 21" style="margin-bottom: -10px;">
          <path fill="red" d="M449.5 830.5h21L460 820z" data-name="Max Arrow" />
        </svg>
        <p style="font-size: 20px;">{{card.max}}</p>
        <p style="float: right; margin-top: -4px !important; ">Max</p>
      </span>
    </span>
  </div>

  <!-- <div class="card card-space" style="width: 19rem;">
    <p class="card-text city-name">City Name</p>
    <img class="card-img-top weatherImageSize" src="../../../assets/images/snow.png" alt="Card image cap">
    <span class="card-body">
      <p class="card-text temp">30&deg;</p>
      <p class="card-text weatherType">Snowing</p>
    </span>
    <span class="card-body">
      <span style="display: flex; flex-direction: column;">
        <svg class="down-Arrow" viewBox="188.5 807 21 21">
          <path fill="#00ff9b" d="M209.5 817.5h-21L199 828z" data-name="Min Arrow" />
        </svg>
        <p style="font-size: 20px;">15</p>
        <p>Min</p>
      </span>
      <span style="display: flex; flex-direction: column; align-items: flex-end; margin-top: -65px;">
        <svg class="up-Arrow" viewBox="449.5 820 21 21" style="margin-bottom: -10px;">
          <path fill="red" d="M449.5 830.5h21L460 820z" data-name="Max Arrow" />
        </svg>
        <p style="font-size: 20px;">25</p>
        <p style="float: right; margin-top: -4px !important; ">Max</p>
      </span>
    </span>
  </div>


  <div class="card card-space" style="width: 19rem;">
    <p class="card-text city-name">City Name</p>
    <img class="card-img-top weatherImageSize" src="../../../assets/images/storm.png" alt="Card image cap">
    <span class="card-body">
      <p class="card-text temp">30&deg;</p>
      <p class="card-text weatherType">Stroming</p>
    </span>
    <span class="card-body">
      <span style="display: flex; flex-direction: column;">
        <svg class="down-Arrow" viewBox="188.5 807 21 21">
          <path fill="#00ff9b" d="M209.5 817.5h-21L199 828z" data-name="Min Arrow" />
        </svg>
        <p style="font-size: 20px;">15</p>
        <p>Min</p>
      </span>
      <span style="display: flex; flex-direction: column; align-items: flex-end; margin-top: -65px;">
        <svg class="up-Arrow" viewBox="449.5 820 21 21" style="margin-bottom: -10px;">
          <path fill="red" d="M449.5 830.5h21L460 820z" data-name="Max Arrow" />
        </svg>
        <p style="font-size: 20px;">25</p>
        <p style="float: right; margin-top: -4px !important; ">Max</p>
      </span>
    </span>
  </div> -->
</div>