
<div class="container cards">
  <div class="card card-space" style="width: 18rem;" data-toggle="modal" data-target="#exampleModalCenter">
    <!-- <div> -->
    <svg class="add__icon weatherImageSize" id="Plus_Icon" data-name="Plus Icon" viewBox="1454.4 326.4 209.1 209.1">
      <defs>
        <style>
          .cls-299{fill:#7effcc}
        </style>
        <filter id="Ellipse_7" width="209.1" height="209.1" x="1454.4" y="326.4" filterUnits="userSpaceOnUse">
          <feOffset dy="3"/>
          <feGaussianBlur result="blur" stdDeviation="3"/>
          <feFlood flood-color="#333" flood-opacity=".1"/>
          <feComposite in2="blur" operator="in"/>
          <feComposite in="SourceGraphic"/>
        </filter>
      </defs>
      <g filter="url(#Ellipse_7)">
        <circle id="Ellipse_7-2" cx="95.6" cy="95.6" r="95.6" fill="#f5f8ff" data-name="Ellipse 7" transform="translate(1463.4 332.4)"/>
      </g>
      <rect id="Rectangle_3" width="12.8" height="142.9" class="cls-299" data-name="Rectangle 3" rx="5" transform="translate(1552.6 358.1)"/>
      <rect id="Rectangle_4" width="12.8" height="142.9" class="cls-299" data-name="Rectangle 4" rx="5" transform="rotate(90 603.6 1026.8)"/>
    </svg>
  <!-- </div> -->
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add a City</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- add the form component here -->
        <div class="panel panel-default">
          <div class="panel-body">
        
            <form>
              <div class="row">
        
                <div class="col-sm-12 form-group">
                  <label for="name">City</label>
                  <input
                    type="text"
                    id="name"
                    class="form-control"
                    size="120"
                    max="120"
                    name="name"
                    required
                    #name>
                </div>
      
                <div class="col-sm-12 form-group" style="display:flex; flex-direction: column;">
                    <label for="weatherType">Weather Type</label>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary active">
                      <input 
                      type="radio"
                      id="weatherSun"
                      class="form-control"
                      size="120"
                      max="255"
                      name="weatherSun"
                      #weatherSun
                       autocomplete="off"
                      checked> Sun
                    </label>
                    <label class="btn btn-secondary">
                      <input 
                      type="radio"
                    id="weatherRain"
                    class="form-control"
                    size="120"
                    max="255"
                    name="weatherRain"
                    #weatherRain
                    autocomplete="off"> Rain
                    </label>
                    <label class="btn btn-secondary">
                      <input 
                      type="radio"
                    id="weatherSnow"
                    class="form-control"
                    size="120"
                    max="255"
                    name="weatherSnow"
                    #weatherSnow
                     autocomplete="off"> Snow
                    </label>
                    <label class="btn btn-secondary">
                        <input 
                        type="radio"
                      id="weatherStorm"
                      class="form-control"
                      size="120"
                      max="255"
                      name="weatherStorm"
                      #weatherStrom
                       autocomplete="off"> Storm
                      </label>
                  </div>
                </div>
        
                <div class="col-sm-12 form-group">
                  <label for="description">Tempurature</label>
                  <input
                    type="text"
                    id="description"
                    class="form-control"
                    size="120"
                    max="255"
                    name="description"
                    #description>
                </div>
        
                <div class="col-sm-12 form-group">
                  <label for="min">Min</label>
                  <input
                    type="text"
                    id="min"
                    class="form-control"
                    size="150"
                    max="255"
                    name="min"
                    required
                    #min>
                </div>
      
                <div class="col-sm-12 form-group">
                    <label for="max">Max</label>
                    <input
                      type="text"
                      id="max"
                      class="form-control"
                      size="150"
                      max="255"
                      name="max"
                      required
                      #max>
                  </div>
        
      
              </div>
        
              <!-- <div *ngIf="!f.valid" class="alert alert-danger">
                The Document title and URL are required fields
              </div> -->
        
            </form>
        
          </div>
        </div>
      
      </div>
    
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
